html
each s in shoe
  include includes/head.pug 
  body
    include includes/header.pug
    div.shoecard
        h2= s.name
        //- p Color
        //- p BLACK/VOLT-SUMMIT WHITE
        img(src=s.image alt=s.name)
        div
            div
                p Style 
                p #{s.pid}

            div
                p Year 
                //- Omdat ik alleen het jaar wil hebben en niet de volledige datum
                - var date = s.releaseDate;
                - var sub_date = date.substr(0, 4);
                p= sub_date

    form(class="likebuttons" action="")
        button &#128465; 
        button &#128293;

    
include includes/footer.pug