html
  include includes/head.pug 
  body
    include includes/header.pug
    main#main-shoe
     each s in shoe
        div.shoecard
            h2= upperCard.name
            img(src=upperCard.image  alt=upperCard.name)
            div
                div
                    p Style 
                    p #{upperCard.pid}

                div
                    p Year 
                    //- Alleen het jaar en niet de volledige datum
                    //- - var date = upperCard.releaseDate;
                    //- - var sub_date = date.substr(0, 4);
                    //- - p= sub_date

        form(class="likebuttons" action="" method="POST")
            input(type="hidden" name="pid" value=upperCard.pid)
            button(type="submit" name="dislike" value="dislike") &#128465; 
            button(type="submit" name="like" value="like") &#128293;

    
include includes/footer.pug